@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Parkinsans:wght@300..800&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(yayay.jpg);
    background-size: cover;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: whitesmoke;
    padding: 10px 0;
    margin: 0;
}

.navbar .button {
    padding: 10px 20px; 
    margin: 0 5px; 
    display: block;
    font-size: 16px; 
}

.nav-item {
    position: relative; /* For dropdown positioning */
    margin: 0 10px;
}

/* Buttons */
.button {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.3s;
    display: block;
}

.button:hover {
    box-shadow: 6px 6px rgb(186, 7, 7);
    display: flex;
}

.button {
    background: url('path-to-image.png') no-repeat center center;
    background-size: cover;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Align below the button */
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    color: #0066cc;
    padding: 0px;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

h1{
    color: whitesmoke;
    font-family: 'Slackey';
    text-shadow: 2px 2px #f22b2b;
    text-decoration: underline;
    text-decoration-color: 5px 5px 5px rgb(188, 26, 26);
    font-size: 50px;
    font-family: 'Lumanosimo';
}

h3{
    color: #ffffff;
    text-shadow: 2px 2px rgb(255, 75, 35);
    margin: 50px 50px;
    text-align: center;
    background-color: rgba(247, 114, 114, 0.813);
    border-radius: 10px 10px;
    font-family: 'Parkinsans';
    padding: 10px 10px;
    
}

h3:hover{
    box-shadow: 10px 10px#ffffffd5;
}
.strong {
    font-weight: bolder;
  }

.highlight {
    background-color: rgb(255,215,0);
    width: 20px;
    border-radius: 30px;
  }

  .container {
    display: flex;
    text-align: center;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    align-items: center;
    text-align: justify;
  }
  
  .column img {
    width: 80%;
    height: auto;
    border-radius: 100%;
    box-shadow: 10px 10px rgb(255,215,0);
  }
  
