.header{
    width: 1280px;
    position: fixed;
}
/* Kode CSS Navigator */
ul{
    list-style: none;
    background: blue;
    padding: 0px 0px;
    margin: 120px 0px;
    position: fixed;
    width: 1280px;
    height: 60px;
}
ul.li{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}
ul li a{
    padding: 10px;
    text-align: center;
}
ul a:hover{
    background-color: rgb(255, 0, 0);
}
/* Kode CSS Dropdown */
ul li ul.dropdown{
    background: blueviolet;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}
ul li:hover ul.dropdown{
    display: block;
}
/* Code CSS Side Bar */
.column{
    float: left;
    padding: 0px 10px;
}
/* Left Column */
.column.side{
    margin: 170px 0px;
    width: 250px;
    height: 400px;
    background-color: brown;
}
/* Code CSS Middle Bar */
.column.middle{
    margin: 170px 0px;
    width: 990px;
    height: 400px;
    background-color: green;
}