/* Style the header */
.Header {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    position: static;
}

.container {
    margin: 0;
    padding: 0;
}


/* Create three unequal columns that floats next
to each other */
.column {
    float: left;
    padding: 10px;
}

ul {
    list-style: none;
    background: blue;
    padding: 0;
    position: relative;
    width: 1280px;
    height: 30px;
}

ul li {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a {
    padding: 10px;
    text-align: center;
    display: block;
}

ul.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    /* Hide dropdown by default */
    position: absolute;
    top: 100%;
    left: 0;
    background: lightblue;
    /* Change the background as needed */
}

ul li:hover ul.dropdown {
    display: block;
    /* Show dropdown on hover */
}

ul.dropdown li {
    display: block;
    padding: 5px;
}




/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}